canvas {
    margin: 20px auto;
    display: block;
    border: 1px solid #000;
    background-color: #fff;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
}

button {
    margin: 20px auto;
    display: block;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }